<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete events</title>
    <style>
        .navbar {
            overflow: hidden;
            background-color: #4285F4;
        }

        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #4CAF50;
            color: black;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="/admin/events/show">Show Events</a>
        <a href="/admin/events/add">Create Event</a>
        <a href="/admin/events/update">Update Event</a>
        <a href="/admin/events/delete">Delete Event</a>
        <a href="/sign-out">Sign out</a>
    </div>

    <h1>Delete events</h1>
    <p>
        <%= email %>
    </p>
    <p id="error-message" style="color: red;"></p>
    <p id="success-message" style="color: green;"></p>

    <form id="form0" onsubmit="handleSubmit(event)">
        <label for="id" style="display: block; margin-bottom: 5px;">ID:</label>
        <input type="number" id="id" name="id" required style="margin-bottom: 15px; width: 25%; padding: 10px;"><br>
        <input type="text" id="confirm" name="confirm" required style="margin-bottom: 15px; width: 25%; padding: 10px;"
            placeholder="Type confirm"><br>
        <input type="submit" value="Submit"
            style="background-color: #4CAF50; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
    </form>

    <script>
        async function handleSubmit(event) {
            event.preventDefault();

            document.getElementById('error-message').innerText = "";
            document.getElementById('success-message').innerText = "";

            let id = document.getElementById('id').value;
            let confirm = document.getElementById('confirm').value.toLowerCase();

            if (confirm == "confirm") {
                const response = await fetch(`/api/events/delete/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: '<%= email %>',
                        token: '<%= token %>'
                    }),
                    mode: 'cors'
                });

                const result = await response.json();

                if (result.error) {
                    document.getElementById('error-message').innerText = result.error.message;
                } else {
                    document.getElementById('success-message').innerText = result.data.message;
                }
            } else {
                document.getElementById('error-message').innerText = "Type confirm to delete event.";
            }
        }
    </script>
</body>