<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
    <style>
        .navbar {
            overflow: hidden;
            background-color: #4285F4;
        }

        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #4CAF50;
            color: black;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="/admin/events/show">Show Events</a>
        <a href="/admin/events/add">Create Event</a>
        <a href="/admin/events/update">Update Event</a>
        <a href="/admin/events/delete">Delete Event</a>
        <a href="/sign-out">Sign out</a>
    </div>

    <h1>Admin home</h1>
    <p>
        <%= email %>
    </p>
</body>

</html>