<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show events</title>
    <style>
        .navbar {
            overflow: hidden;
            background-color: #4285F4;
        }

        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #4CAF50;
            color: black;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="/users/events/show">Show Events</a>
        <a href="/users/events/history">Show History</a>
        <a href="/sign-out">Sign out</a>
    </div>

    <h1>Show events</h1>
    <p>
        <%= email %>
    </p>
    <p id="error-message" style="color: red;"></p>
    <p id="success-message" style="color: green;"></p>
    <div style="font-family: Arial, sans-serif; width: 50%;">

        <% if(events.length> 0) { %>
            <% events.forEach(function(event) { %>
                <div style="border: 1px solid #000; margin-bottom: 10px; padding: 10px;">
                    <h2 style="color: #333;">Event Name: <%= event.title %>
                    </h2>
                    <p style="color: #666;">Event id:
                        <span id="eventId<%= event.id %>">
                            <%= event.id %>
                        </span>
                    </p>
                    <p style="color: #666;">
                        Event Seats: <%= event.total_seats %><br>
                            Available Seats: <%= event.available_seats %><br>
                                Event Description: <%= event.description %><br>
                                    Event Date: <%= event.date.split('T')[0] %><br>
                    </p>
                    <form onsubmit="bookEvent(event, '<%= event.id %>')">
                        <input type="number" id="bookingSeats<%= event.id %>" max="<%= event.available_seats %>" min="1"
                            style="margin-bottom: 15px; width: 25%; padding: 10px;" required>
                        <button
                            style="background-color: #4CAF50; color: white; padding: 12px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Book
                            Event</button>
                    </form>
                </div>
                <% }); %>
                    <% } else { %>
                        <p style="color: red;">No events found.</p>
                        <% } %>

    </div>
    <script>

        async function bookEvent(event, id) {
            event.preventDefault();
            document.getElementById('error-message').innerText = ""
            document.getElementById('success-message').innerText = "";

            let bookingSeats = document.getElementById('bookingSeats' + id).value;

            const response = await fetch(`/api/users/events/book`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: '<%= email %>',
                    id: id,
                    seats: bookingSeats
                }),
                mode: 'cors'
            });

            const result = await response.json();

            if (result.error) {
                document.getElementById('error-message').innerText = result.error.message;
            } else {
                document.getElementById('success-message').innerText = result.data.message;
            }
        }
    </script>
</body>

</html>