<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP verification page</title>
</head>

<body style="font-family: Arial, sans-serif; padding: 20px;">
    <h2 style="color: #333;">OTP verification</h2>

    <p id="error-message" style="color: red;"></p>

    <form onsubmit="verifyOTP(event)">
        <label for="otp" style="display: block; margin-bottom: 5px;">OTP:</label>
        <input type="text" id="otp" name="otp" required style="margin-bottom: 15px; width: 25%; padding: 10px;">
        <br>
        <input type="submit" value="Verify OTP"
            style="background-color: #4CAF50; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
    </form>

    <p>Password has been remember? <a href="/sign-in">Sign in</a></p>

    <script>
        async function verifyOTP(event) {
            event.preventDefault();
            let form = event.target;
            let formData = new FormData(form);

            let otp = formData.get('otp');

            const response = await fetch('/otp-verification', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    otp: otp
                })
            });

            const result = await response.json();

            if (result.error) {
                document.getElementById('error-message').innerText = result.error.message;
            } else {
                alert('OTP verified successfully.');
                window.location.href = '/reset-password';
            }
        }
    </script>
</body>

</html>