<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password page</title>
</head>

<body style="font-family: Arial, sans-serif; padding: 20px;">
    <h2 style="color: #333;">Reset password</h2>

    <p id="error-message" style="color: red;"></p>

    <form onsubmit="resetPassword(event)">
        <label for="password" style="display: block; margin-bottom: 5px;">Password:</label>
        <input type="password" id="password" name="password" required
            style="margin-bottom: 15px; width: 25%; padding: 10px;">

        <label for="confirmPassword" style="display: block; margin-bottom: 5px;">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required
            style="margin-bottom: 20px; width: 25%; padding: 10px;">
        <br>
        <input type="submit" value="Sign in"
            style="background-color: #4CAF50; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
    </form>

    <p>Password has been remember? <a href="/sign-in">Sign in</a></p>

    <script>
        async function resetPassword(event) {
            event.preventDefault();
            let form = event.target;
            let formData = new FormData(form);

            let password = formData.get('password');
            let confirmPassword = formData.get('confirmPassword');

            const response = await fetch('/api/auth/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: '<%= email %>',
                    password: password,
                    confirmPassword: confirmPassword
                })
            });

            const result = await response.json();
            if (!result.error) {
                alert('Password has been reset successfully!');
                window.location.href = '/sign-in';
            } else {
                document.getElementById('error-message').innerText = result.error.message;
            }
        }
    </script>
</body>

</html>